In [6]:
import pandas as pd

df = pd.read_csv(
    "../data/german.data-numeric",
    sep='\s+',  
    header=None             
)

print("Shape of df:", df.shape)
df.head()

Shape of df: (1000, 25)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2

In [7]:
# 24 feature columns + 1 target column (last one)
num_features = 24

feature_names = [f"feat_{i}" for i in range(1, num_features + 1)]
all_columns = feature_names + ["target"]

df.columns = all_columns

print(df.columns)
df.head()

Index(['feat_1', 'feat_2', 'feat_3', 'feat_4', 'feat_5', 'feat_6', 'feat_7',
       'feat_8', 'feat_9', 'feat_10', 'feat_11', 'feat_12', 'feat_13',
       'feat_14', 'feat_15', 'feat_16', 'feat_17', 'feat_18', 'feat_19',
       'feat_20', 'feat_21', 'feat_22', 'feat_23', 'feat_24', 'target'],
      dtype='object')

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_16,feat_17,feat_18,feat_19,feat_20,feat_21,feat_22,feat_23,feat_24,target
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2

In [8]:
df["target"].value_counts()

target
1    700
2    300
Name: count, dtype: int64

In [9]:
print("Info:")
df.info()

print("\nMissing values per column:")
print(df.isna().sum())

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   feat_1   1000 non-null   int64
 1   feat_2   1000 non-null   int64
 2   feat_3   1000 non-null   int64
 3   feat_4   1000 non-null   int64
 4   feat_5   1000 non-null   int64
 5   feat_6   1000 non-null   int64
 6   feat_7   1000 non-null   int64
 7   feat_8   1000 non-null   int64
 8   feat_9   1000 non-null   int64
 9   feat_10  1000 non-null   int64
 10  feat_11  1000 non-null   int64
 11  feat_12  1000 non-null   int64
 12  feat_13  1000 non-null   int64
 13  feat_14  1000 non-null   int64
 14  feat_15  1000 non-null   int64
 15  feat_16  1000 non-null   int64
 16  feat_17  1000 non-null   int64
 17  feat_18  1000 non-null   int64
 18  feat_19  1000 non-null   int64
 19  feat_20  1000 non-null   int64
 20  feat_21  1000 non-null   int64
 21  feat_22  1000 non-null   int64
 22  feat_23  1000 non-null   int64
 23  feat_24  1000 non-null   int64
 24  target   1000 non-null   int64
dtypes: int64(25)
memory usage: 195.4 KB

Missing values per column:
feat_1     0
feat_2     0
feat_3     0
feat_4     0
feat_5     0
feat_6     0
feat_7     0
feat_8     0
feat_9     0
feat_10    0
feat_11    0
feat_12    0
feat_13    0
feat_14    0
feat_15    0
feat_16    0
feat_17    0
feat_18    0
feat_19    0
feat_20    0
feat_21    0
feat_22    0
feat_23    0
feat_24    0
target     0
dtype: int64

In [10]:
# Map original target: 1 = good, 2 = bad
# Creating the BadCredit: 1 = bad, 0 = good

df["BadCredit"] = df["target"].map({1: 0, 2: 1})

print("Value counts of BadCredit:")
print(df["BadCredit"].value_counts())
print("\nProportions of BadCredit:")
print(df["BadCredit"].value_counts(normalize=True))

Value counts of BadCredit:
BadCredit
0    700
1    300
Name: count, dtype: int64

Proportions of BadCredit:
BadCredit
0    0.7
1    0.3
Name: proportion, dtype: float64

In [11]:
df.to_csv("../data/german_credit_numeric_clean.csv", index=False)

print("Saved cleaned dataset to ../data/german_credit_numeric_clean.csv")

Saved cleaned dataset to ../data/german_credit_numeric_clean.csv